<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{- with .Description -}}{{ . }}{{ else }}{{- if .IsPage -}}{{ .Summary }}{{- else -}}{{- with .Site.Params.description -}}{{ . }}{{- end -}}{{- end -}}{{- end -}}" />
<meta property="og:site_name" content="{{ .Page.Title }}" />
<meta property="og:image" content='{{ .Params.social_image.src | absURL }}' />
<meta property="og:image:alt" content="{{ .Params.social_image.alt }}" />
