<meta name="og:title" content="{{ .Title }}" />
<meta name="og:type" content="website" />
<meta name="og:url" content="{{ .Permalink }}" />
<meta name="og:description" content="{{- with .Description -}}{{ . }}{{ else }}{{- if .IsPage -}}{{ .Summary }}{{- else -}}{{- with .Site.Params.description -}}{{ . }}{{- end -}}{{- end -}}{{- end -}}" />
<meta name="og:site_name" content="{{ .Page.Title }}" />
<meta name="og:image" content="https://hawaiibusplus.com/social.png" />
<meta name="og:image:alt" content="Riding the bus shouldn't be a hassle. Make it positive with the best transit app on the Big Island." />
