<meta name="twitter:site" content="@Not_Woods" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content='{{ .Params.social_image.src | absURL }}' />
<meta name="twitter:image:alt" content="{{ .Params.social_image.alt }}" />
