<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hawaii Bus Plus</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@500&display=swap" rel="stylesheet" />
  {{ $style := resources.Get "css/main.css" | resources.PostCSS }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet" />
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
