<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ block "title" . }}
  <title>{{ .Page.Title }}</title>
  {{ end }}
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
  <link rel="icon" type="image/png" sizes="512x512" href="/favicon-512.png" />
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@500&display=swap" rel="stylesheet" />
  {{ $style := resources.Get "css/main.css" | resources.PostCSS | resources.Minify }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet" />
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
  insights.init('KXNUdTJ9I4iYXHGo');
  insights.trackPages();
  </script>
  {{ partial "seo/twitter.html" . }}
  {{ partial "seo/opengraph.html" . }}
</head>
<body class="bg-gray-50 dark:bg-gray-750">
  {{ block "main" . }}{{ end }}
</body>
</html>
