@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .waves {
    @apply bg-blue-700;
    background-size: theme('spacing.96');
    background-image: url('/waves.svg');
  }
}

.phones--hero .phones__img {
  @apply w-80 lg:w-96;
}
.phones--footer .phones__img {
  @apply w-full max-w-xl;
}

.text-overlay path {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  transition: stroke-dashoffset 0.5s linear;
}
.group:hover .text-overlay path {
  stroke-dashoffset: 0;
}
