<footer class="px-4 py-8 text-gray-100 bg-ocean dark:bg-ocean-dark">
  <div class="max-w-5xl mx-auto flex flex-col md:flex-row">
    <div class="flex flex-wrap">
      {{ $headless := .Site.GetPage "/footer" }}
      {{ range $headless.Params.menu }}
      <div class="ml-8 mb-4">
        <h4 class="font-display font-medium mb-2">{{ .title }}</h4>
        {{ range $name, $link := .items }}
          <a class="block hover:underline" href="{{ $link }}">{{ $name }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="flex-grow flex-shrink-0 text-center md:text-left md:order-first max-w-sm mt-8 mx-auto md:ml-0 md:mt-0">
      {{ $headless.Content }}
      <p class="mt-2"><abbr title="Copyright">&#xA9;</abbr> {{ dateFormat "2006" now }} Oakes Software, LLC</p>

      {{ partialCached "newsletter.html" . }}
    </div>
  </div>
</footer>
