<div class="flex flex-col mx-auto md:flex-row max-w-sm md:max-w-none justify-center my-8 px-4 space-y-4 md:space-y-0 md:space-x-4">
  {{ $headless := .Site.GetPage "/pricing" }}
  {{ range $index, $page := sort $headless.Pages ".Title" "desc" }}
    <section class="p-6 shadow-lg bg-white dark:bg-gray-700 text-center">
      <h3 class="text-2xl font-display font-medium">{{ $page.Title }}</h3>
      {{ $page.Content }}
      <p class="mt-8">
        <strong class="font-display font-medium text-5xl">{{ $page.Params.price }}</strong>
        <span class="text-gray-700 dark:text-gray-300">{{ $page.Params.per }}</span>
      </p>
    </section>
  {{ end }}
</div>
